@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #E85817;
    --dash-color: #fff;
    --dashboard-color: #f5f5f5;
    --text-color: #C6C4C6;
    --color-text: #383738;
    --btn-color: #1CB497;
}

.dark-theme {
    --primary-color: #E85817;
    --dash-color: #20252B;
    --dashboard-color: #282C38;
    --text-color: #C3C1C2;
}

body , .container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

.dash {
    position: fixed;
    width: 15em;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--dash-color);
    transition: background 0.2s;
}

.dash .profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dash .profil .img {
    position: relative;
    margin-top: 1.8em;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid var(--dash-color);
    background: url('imgs/pexels-pixabay-415829.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dash .profil .img span {
    position: absolute;
    top: 10px;
    right: 0;
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    border: 3px solid var(--dash-color);
    border-radius: 100%;
}

.dash .profil h3 {
    margin-top: 0.7em;
    color: var(--color-text);
}

.dash .profil p {
    margin-top: 0.3em;
    font-size: 0.7vw;
    letter-spacing: 0.2em;
    color: var(--text-color);
}

.dash nav,
.dash nav ul,
.dash nav ul li {
    width: 100%;
}
.dash nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash nav ul li {
    position: relative;
    height: 3.8em;
    margin-left: 2em;
    padding-left: 2em;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    cursor: pointer;
}

.dash nav ul li.active i,
.dash nav ul li.active a
{
    color: var(--primary-color);
    transition: color 0.5s;
}



.dash nav ul li.active::before {
    content: '';
    position: absolute;
    top: -63%;
    right: 14%;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 21px 35px 0 10px var(--dashboard-color);
}

.dash nav ul li.active::after {
    content: '';
    position: absolute;
    bottom: -63%;
    right: 14%;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 21px -35px 0 10px var(--dashboard-color);
}

.dash nav ul li.active {
    background: var(--dashboard-color);
    border-radius: 5em;
}

.dash nav ul li a,
.dash nav ul li i {
    color: var(--text-color);
}

.dash nav ul li:nth-child(3) a {
    position: relative;
}
.dash nav ul li:nth-child(3) a::after {
    content: '';
    position: absolute;
    top: 25%;
    right: -1.5em;
    width: 8px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 100%;
}

.dash nav ul li i {
    transform: scale(1.5);
}

.dash nav ul li a {
    margin-left: 1em;
    font-weight: bold;
}

.dash .mode {
    margin-bottom: 4em;
    display: flex;
    align-items: center;
}

.dash .mode strong {
    color: var(--text-color);
}

.dash .mode .theme {
    margin-left: 1em;
    position: relative;
    padding: 3px;    
    width: 2em;
    height: 17px;
    background: var(--btn-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.dash .mode .theme.clicked span {
    transform: translateX(20px);
    transition: transform 0.5s;
}

.dash .mode .theme span {
    position: absolute;
    width: 5px;
    height: 70%;
    background: var(--dash-color);
    border-radius: 3px;
    transition: transform 0.5s;
}

.dashboard {
    position: relative;
    right: -15em;
    width: calc(100% - 15em);
    background: var(--dashboard-color);
    padding: 3em 5em;
    transition: background 0.2s;
}

.dashboard .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .head .logo h1 {
    color: var(--primary-color);
}

.dashboard .head form {
    position: relative;
}

.dashboard .head form input {
    background: var(--dash-color);
    outline: none;
    border: none;
    width: 30vw;
    border-radius: 1.5em;
    padding: 1em 1em 1em 2em;
}

.dashboard .head form i {
    position: absolute;
    top: 12%;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: var(--primary-color);
    color: var(--dash-color);
    opacity: 0.6;
}

.dashboard .head .profils {
    position: relative;
    width: 13vw;
    height: 2.5em;
    border-radius: 2em;
    display: flex;
}

.dashboard .head .profils div {
    position: absolute;
    transform: translateX();
    width: 2.5em;
    height: 100%;
    border-radius: 100%;
    background: var(--primary-color);
}

.dashboard .head .profils div:nth-child(1) {
    background: url('imgs/pexels-pixabay-415829.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard .head .profils div:nth-child(2) {
    background: url('imgs/pexels-pixabay-415829.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(2em);
}

.dashboard .head .profils div:nth-child(3) {
    background: url('imgs/pexels-pixabay-415829.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(4em);
}

.dashboard .head .profils div:nth-child(4) {
    background: url('imgs/pexels-pixabay-415829.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(6em);
}

.dashboard .head .profils div:nth-child(5) {
    background: var(--color-text);
    transform: translateX(8em);
}

.dashboard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em 0;
}

.dashboard header ul {
    display: flex;
    align-items: center;
}

.dashboard header ul li {
    position: relative;
    margin-right: 8em;
}

.dashboard header ul li:nth-of-type(1)::before {
    content: '';
    position: absolute;
    right: -5px;
    left: -5px;
    top: 2em;
    height: 4px;
    background: var(--primary-color);
    border-radius: 1em;
}

.dashboard header .update {
    background: var(--dash-color);
    height: 2.2em;
    display: flex;
    align-items: center;
    border-radius: 0.8em;
}

.dashboard header .update a:first-child {
    display: flex;
    align-items: center;
    height: 100%;
    background: var(--primary-color);
    color: var(--dash-color);
    padding: 0 1em;
    border-radius: 0.8em;
}

.dashboard header .update a:last-child {
    margin: 0 1em 0 2em;
}

.dashboard section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.dashboard section div {
    border-radius: 1em;
    padding: 1em;
}

.dashboard section .design {
    background: var(--primary-color);
    color: var(--dash-color);
    grid-column: 1 / span 2;
}

.dashboard section .design aside strong {
    letter-spacing: 0.1em;
    font-size: 1.5em;
}

.dashboard section .design aside h4 {
    justify-content: s;
    letter-spacing: 0.2em;
    font-weight: 300;
    margin: 0.3em 0;
}

.dashboard section .design aside p {
    line-height: 2em;
    font-weight: lighter;
    width: 25em;
    font-size: 0.8em;
    margin: 2em 0 0;
}

.dashboard section .design aside button {
    display: flex;
    align-items: center;
    margin-top: 4em;
    background: var(--dash-color);
    padding: 0.8em 0.5em;
    border: none;
    border-radius: 1em;
}

.dashboard section .design aside button i {
    font-size: 1.5em;
}

.dashboard section .learn {
    background: #212429;
    grid-row: 2 ;
    /* height: 20em; */
}

.dashboard section .morning {
    background: #FFD715;
}

.dashboard section .user {
    background: #4593E4;
}

.dashboard section .web {
    background: #01AB8A;
}